<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astronist.personalnurseadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalNurseAdmin">
        <activity android:name=".SliderUpdateActivity"></activity>
        <activity android:name=".SliderReviewActivity" />
        <activity android:name=".SalesReportActivity" />
        <activity android:name=".ViewReviewActivity" />
        <activity android:name=".AdminReviewActivity" />
        <activity android:name=".SalesReviewActivity" />
        <activity android:name=".AdminNotificationActivity" />
        <activity android:name=".StatusShowActivity" />
        <activity android:name=".SharePrescriptionActivity" />
        <activity android:name=".RegisterAndLogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DailyOrderDetailsActivity" />
        <activity android:name=".CompleteOrderActivity" />
        <activity android:name=".DailyOrderActivity" />
        <activity android:name=".MediOrderAcceptActivity" />
        <activity android:name=".NewMedicineOrderActivity" />
        <activity android:name=".CheckingSolvedPrescription" />
        <activity android:name=".SolvedPrescriptionActivity" />
        <activity android:name=".DetailsPrescription" />
        <activity android:name=".UnsolvedPrescriptionActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".UploadProductActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>